<div class="card">
  <h1 class="text-center title pb-1">Welcome to KeyChain!</h1>
  <p class="text-center pb-3">Please login to continue</p>

  <form [formGroup]="loginForm" (submit)="login($event)"
    class="d-flex flex-column justify-content-center align-items-center">

    <mat-form-field class="col-10" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Enter Email">
      <mat-error *ngIf="loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-10" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" placeholder="Enter Password">
      <mat-error
        *ngIf="loginForm.get('password')?.hasError('pattern') && !loginForm.get('password')?.hasError('required')">
        Password should have at least 8 characters, must contain at least 1 uppercase letter, 1 lowercase letter, and 1
        number.
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <a routerLink="/auth/register" class="link text-center text-decoration-none text-muted pb-3">Don't have account?</a>

    <button [disabled]="loginForm.invalid" type="submit" class="btn login">login</button>
  </form>
</div>
