<div class="card">
  <h1 class="text-center title pb-1">{{ 'welcome' | translate }}</h1>
  <p class="text-center pb-3 mb-0">{{ 'pleaseLogin' | translate }}</p>

  <form [formGroup]="loginForm" (submit)="login()" class="d-flex flex-column justify-content-center align-items-center">

    <app-input
    class="col-10"
    [class.mb-3]="loginForm.get('email')?.valid || !loginForm.get('email')?.dirty"
    formControlName="email"
    type="email"
    autocomplete="email"
    placeholder="{{ 'enterEmail' | translate}}"
    ></app-input>
    <p *ngIf="loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')" class="error">
      {{ 'entarValidEmail' | translate }}
    </p>
    <p *ngIf="loginForm.get('email')?.dirty && loginForm.get('email')?.hasError('required')" class="error">
      {{ 'emailRequired' | translate }}
    </p>

    <app-input
    class="col-10"
    [class.mb-3]="loginForm.get('password')?.valid || !loginForm.get('password')?.dirty"
    formControlName="password"
    placeholder="{{ 'enterPassword' | translate }}"
    type="password"
    autocomplete="current-password"
    appRestrictChars
    ></app-input>
    <p *ngIf="loginForm.get('password')?.hasError('pattern') && !loginForm.get('password')?.hasError('required')" class="error">
      {{ 'passwordPattern' | translate }}
    </p>
    <p *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.hasError('required')" class="error">
      {{ 'passwordRequired' | translate }}
    </p>

    <a routerLink="/auth/register" class="link text-center text-decoration-none text-muted pb-3">{{ 'dontHaveAccount' | translate }}</a>

    <button [disabled]="loginForm.invalid" type="submit" class="btn login"
      [class.btn-info]="loginForm.valid">{{ 'login' | translate }}</button>
  </form>

  <hr>

  <button class="btn" (click)="googleAuth()"><img src="assets\svg\icons8-google.svg" />{{ 'continueGoogle' | translate }}</button>
</div>
