@import "/src/styles.scss";

:host {
  width: 100%;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content 1fr;
}

.card {
  margin: 0 auto;
  padding: 1.5rem;
  grid-row: 2/2;
}

.passError {
  font-weight: 400;
  color: red;
}

.register {
  padding: 0.5rem 2rem;
}
