<div class="card py-3 rounded col-8">
  <h1 class="text-center pb-1">{{ 'register' | translate }}</h1>
  <p class="text-center">{{ 'pleaseRegister' | translate }}</p>

  <form [formGroup]="registerForm" (submit)="register()"
    class="d-flex flex-column justify-content-center align-items-center">

    <div class="col-10 pb-3">
      <label for="firstName">{{ "firstName" | translate }}</label>
      <app-input
        name="fistName"
        type="text"
        formControlName="firstName"
        placeholder="{{ 'firstNamePlaceholder' | translate }}"
        autocomplete="given-name"
      ></app-input>
      <p *ngIf="registerForm?.get('firstName')?.hasError('minlength') && !registerForm?.get('firstName')?.hasError('required') && registerForm?.get('firstName')?.dirty"
        class="error"
      >
        {{ 'tooShort' | translate }}
      </p>
      <p *ngIf="registerForm?.get('firstName')?.hasError('required') && registerForm?.get('firstName')?.dirty"
        class="error"
      >
        {{ 'firstNameRequired' | translate }}
      </p>
    </div>

    <div class="col-10 pb-3">
      <label for="lastName">{{ 'lastName' | translate }}</label>
      <app-input
        type="text"
        name="lastName"
        formControlName="lastName"
        placeholder="{{ 'lastNamePlaceholder' | translate }}"
        autocomplete="given-name"
      ></app-input>
      <p *ngIf="registerForm?.get('lastName')?.hasError('minlength') && !registerForm?.get('lastName')?.hasError('required') && registerForm?.get('lastName')?.dirty"
        class="error"
      >
        {{ 'tooShort' | translate }}
      </p>
      <p *ngIf="registerForm?.get('lastName')?.hasError('required') && registerForm?.get('lastName')?.dirty"
        class="error"
      >
        {{ 'lastNameRequired' | translate }}
      </p>
    </div>

    <div class="col-10 pb-3">
      <label for='email'>{{ 'email' | translate }}</label>
      <app-input
        name="email"
        type="email"
        formControlName="email"
        placeholder="{{ 'enterEmail' | translate }}"
        autocomplete="email"
      ></app-input>
      <p *ngIf="registerForm?.get('email')?.hasError('email') && !registerForm?.get('email')?.hasError('required') && registerForm?.get('email')?.dirty"
        class="error"
      >
        {{ 'entarValidEmail' | translate }}
      </p>
      <p *ngIf="registerForm?.get('email')?.hasError('required') && registerForm?.get('email')?.dirty"
        class="error"
      >
        {{ 'emailRequired' | translate }}
      </p>
    </div>

    <div class="col-10 pb-3"
      [class.mb-2]="registerForm.get('password')?.hasError('pattern') && !registerForm.get('password')?.hasError('required')">
      <label for="password">{{ 'password' | translate }}</label>
      <app-input
        name="password"
        type="password"
        formControlName="password"
        placeholder="{{ 'enterPassword' | translate }}"
        autocomplete="new-password"
      ></app-input>
      <p *ngIf="registerForm?.get('password')?.hasError('pattern') && !registerForm?.get('password')?.hasError('required') && registerForm?.get('password')?.dirty"
        class="error"
      >
        {{ 'passwordPattern' | translate }}
      </p>
      <p *ngIf="registerForm?.get('password')?.hasError('required') && registerForm?.get('password')?.dirty"
        class="error"
      >
        {{ 'passwordRequired' | translate }}
      </p>
    </div>

    <div class="col-10 pb-3">
      <label for="confirmPassword">{{ 'confirmPassword' | translate }}</label>
      <app-input
        name="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        placeholder="{{ 'confirmPassword' | translate }}"
        autocomplete="new-password"
      ></app-input>
      <p *ngIf="registerForm?.get('confirmPassword')?.hasError('required') && registerForm?.get('confirmPassword')?.dirty"
        class="error"
      >
        {{ 'confirmPasswordRequred' | translate }}
      </p>
    </div>

    <p *ngIf="passwordMatchError" class="passError">
      {{ 'passwordMatch' | translate }}
    </p>

    <button [disabled]="registerForm.invalid" type="submit" class="btn register"
      [class.btn-info]="registerForm.valid">{{ 'registerBtn' | translate }}</button>
  </form>
</div>
