<form [formGroup]="passwordForm" (submit)="save()" class="d-flex align-items-center flex-column p-2">
  <h3 class="text-center">{{ 'addYourPassword' | translate }}</h3>
  <div class="inputs mb-2">

    <label for="source">{{ 'password' | translate }}</label>
    <input type="password" name="login" formControlName="password" class="mb-2 p-1"
      placeholder="{{ 'passwordCredPlaceholder' | translate }}" autocomplete="password">
    <p *ngIf="passwordForm.get('password')?.hasError('pattern') && !passwordForm.get('password')?.hasError('required')" class="error">
      {{ 'passwordPattern' | translate }}
    </p>
    <p *ngIf="passwordForm.get('password')?.dirty && passwordForm.get('password')?.hasError('required')" class="error">
      {{ 'passwordRequired' | translate }}
    </p>


    <label for="password">{{ 'confirmPassword' | translate }}</label>
    <input type="password" name="password" formControlName="confirmPassword" class="mb-2 p-1"
      placeholder="{{ 'confirmPassword' | translate }}" autocomplete="password">
    <p *ngIf="passwordForm.get('confirmPassword')?.hasError('pattern') && !passwordForm.get('confirmPassword')?.hasError('required')" class="error">
      {{ 'passwordPattern' | translate }}
    </p>
    <p *ngIf="passwordForm.get('confirmPassword')?.dirty && passwordForm.get('confirmPassword')?.hasError('required')" class="error">
      {{ 'confirmPasswordRequired' | translate }}
    </p>

  </div>

  <p *ngIf="passwordMatchError" class="error">
    {{ 'passwordMatch' | translate }}
  </p>


  <button [disabled]="passwordForm.invalid" type="submit" class="btn edit" [class.btn-success]="passwordForm.valid">{{ 'save' | translate }}</button>
</form>
