@import "/src/styles.scss";

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 0.5rem;
}

.edit {
  padding: 0.5rem 2rem;
}

.error{
  width: 100%;
  color: $main-accent;
  margin-bottom: 0;
  max-width: 80%;
}
