@import "/src/styles.scss";

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 0.5rem;
}

.add {
  padding: 0.5rem 2rem;
}

.list {
  list-style: none;
  padding-left: 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
