<div class="card" (submit)="addPair()">
  <form [formGroup]="addForm" class="d-flex align-items-center p-2 flex-column flex-sm-row">
    <div class="inputs">
      <label for="source">{{ 'source' | translate }}</label>
      <app-input
        formControlName="source"
        name="source"
        placeholder="{{ 'sourcePlaceholder' | translate }}"
        class="mb-2"
      ></app-input>
      <label for="source">{{ 'loginCredField' | translate }}</label>
      <app-input
        name="login"
        formControlName="login"
        class="mb-2"
        placeholder="{{ 'loginCredPlaceholder' | translate }}"
      ></app-input>
      <label for="password">{{ 'passwordCredField' | translate }}</label>
      <app-input
        name="password"
        formControlName="password"
        class="mb-2"
        placeholder="{{ 'passwordCredPlaceholder' | translate }}"
      ></app-input>
      <label for="category">{{ 'categoryCredField' | translate }}</label>
      <app-input
        name="category"
        formControlName="category"
        class="mb-2"
        placeholder="{{ 'categoryCredPlaceholder' | translate }}"
      ></app-input>
    </div>

    <button
      [disabled]="addForm.invalid"
      type="submit"
      class="btn add"
      [class.btn-success]="addForm.valid"
    >
      {{ 'add' | translate }}
    </button>
  </form>

  <mat-progress-bar *ngIf="fetching" mode="buffer"></mat-progress-bar>

  <mat-tab-group mat-align-tabs="start">

    <mat-tab label="All">
      <ul class="list pt-0 col-12" *ngIf="(pairs$ | async) as pairs">
        <app-pair
          *ngFor="let pair of pairs"
          [pair]="pair"
          (deletePair)="remove($event)" (editPair)="edit($event)"
          (toggleShowPair)="toggleShown($event)"
        ></app-pair>
      </ul>
    </mat-tab>

    <ng-container *ngIf="sortedPairs$ | async as categories">
      <mat-tab *ngFor="let category of categories" [label]="category[0].category">
        <ul class="list pt-0 col-12">
          <app-pair
            *ngFor="let pair of category"
            [pair]="pair"
            (deletePair)="remove($event)"
            (editPair)="edit($event)"
            (toggleShowPair)="toggleShown($event)"
          ></app-pair>
        </ul>
      </mat-tab>
    </ng-container>
    
  </mat-tab-group>


  <ng-container *ngIf="!(pairs$ | async)?.length">
    <h2 class="text-center mt-3">{{ 'noCreds' | translate }}</h2>
  </ng-container>
</div>
